/* Apply the dark theme to the entire page */
body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Light text */
  font-family: Arial, Helvetica, sans-serif; /* Ensure readable text in dark mode */
  height: 100vh; /* Make the body take the entire browser height */
  display: flex; /* Enables flexbox for centering */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

/* Center the Badge component inside the app container */
.App {
  text-align: center;
  width: 100%; /* Ensure content spans the full width */
}

.flex-container {
  display: flex;
}

.Flex-Column {
  flex-direction: column;
}

.Button {
  width: 10rem;
}

